   
   <div id="footer">
      <div class="container">
      	 <div class="muted credit text-center"><a href="#">主页</a> | <a href="http://www.uestc.edu.cn">电子科技大学</a></div>
      	 <div class="muted credit text-center"><a href="#">Private Policy</a></div>
      	 <div class="muted credit text-center">Copyright © 2015 UESTC</div>
      </div>
   </div>
    <!-- Placed at the end of the document so the pages load faster -->

   <script src="javascripts/main.js"></script>
    
   </body>
</html>